.container-1 {
    display: flex;
    background-color: rgb(223, 20, 20);
}

.item {
    flex: 1;
    text-align: center;
    vertical-align: middle;
}

.item-1 {
    flex: 1;
    color: rgb(28, 28, 189);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(28, 28, 191);
    width: 310px;
    height: 20px;
}
.button {
    background-color: rgb(37, 130, 37);
    color: white;
    border: none;
    padding: 10px;
    font-size: 17px;
    display: inline-block;
    margin: 10px;
}

.itens
{
    display: flex;
    background-color: red;
    grid-template-columns: repeat(3, 50px);
    padding: 30px;
    text-align: center;
}

.item1-3 {
    flex: 1;
    background-color: rgb(107, 107, 189);
    padding: 20px;
    margin: 0 10px;
}
.item-2 {
    flex: 2;
    background-color: rgb(107, 107, 189);
    padding: 20px;
    margin: 0 10px;
}

.grid {
    background-color: rgb(200, 141, 255);
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    padding: 20px;
}

.grid-itens {
    background-color: rgb(202, 43, 43);
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 20px;
}