header{
    text-align: center;
    font-size: 30px;
    background-color: #7d144c;
}

.p{
    text-align: center;
    color: #da9c3c;
}

.menu {
    list-style: none;
    display: flex;
    letter-spacing: 3px;
    gap: 0.5rem;
}

.menu a {
  display: block;
    padding: 1rem;
    border-radius: 0.5rem;
}

body{
    font-family: 'Dancing Script', cursive;
    background: #e494af;
    font-size: 20px;
}

li{
   color: #dfb0c9;
}

.text01{
    color: #da9c3c;
}

.texto02{
    color: #da9c3c;
}

p{
    text-align: left;
}

.div-1 {
    text-align: center;
    background-color: #7d144c;
}

.div-2{
    background-color: #7d144c;
}

.descricao {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #7d144c;
    color: #da9c3c;
}