h1 {
    color: blue;
}

/* table, th, td {
    border: 1px solid black;
 }

 table {
    width: 50%;
} */

th {
    height: 50px;
    background-color: #4c60af;
    color: white;
}

div {
    display: block;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}