.body {
    background-image: linear-gradient(to right, rgb(223, 188, 223), rgb(97, 38, 133));
}

.item1 {
    background-image: linear-gradient(to right, #e9d5ee, #5817c1);
    height: 60px;
}

.h1 {
    background: radial-gradient(circle, #000000 0%, #393a3a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: center;
}

.table{
    border: 1px; width: 80%; border-collapse: collapse;
    border: 4px solid transparent;
    border-image: linear-gradient(to right, red, black);
}

.div {
    text-align: center;
}

.section {
    background-image: linear-gradient(to right, rgb(239, 212, 216), rgb(92, 77, 228));
    height: 400px;
    margin: auto;

}

.lista {
    background: radial-gradient(circle, #331230 0%, #24e3e3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: center;
}

.p {
    background: radial-gradient(circle, #122239 0%, #062929 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: center;
}

.table {
    border: 2px solid rgb(62, 16, 61);
    margin: auto;
}

.th {
    border: 2px solid rgb(62, 16, 61)

}

.td {
    border: 2px solid rgb(62, 16, 61)

}

.form {
    background-image: linear-gradient(to right, rgb(239, 212, 216), rgb(92, 77, 228));
    height: 450px;
    margin: auto;

}

.fild {
    border: 2px solid rgb(62, 16, 61);
}

.a1 {
    background: radial-gradient(circle, #5e4bbd 0%, #393a3a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.a2 {
    background: radial-gradient(circle, #b943c2 0%, #393a3a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.img {
    
}